{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/update_password" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Update Password!</button>
    </form>

    <br><br>

    {% if success == False: %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% elif success == True: %}
        <div class="alert alert-success" role="alert">
            Password updated successfully!
        </div>
    {% endif %}

    <br><br>

    <p> Password should fulfill following requirements: </p>
    <p> 1. Should have at least one number. </p>
    <p> 2. Should have at least one uppercase and one lowercase character. </p>
    <p> 3. Should have at least one special symbol. </p>
    <p> 4. Should be between 6 to 20 characters long. </p>

{% endblock %}
